<!-- Login Form -->
<div
  class="max-w-md mx-auto mt-8 bg-white p-8 rounded-lg shadow-md border border-gray-200"
>
  <h2 class="text-2xl font-semibold text-gray-800">Login</h2>
  <p class="text-gray-500 mb-6">Enter your email and password to log in.</p>

  <form (ngSubmit)="loginInToAppliction($event)" [formGroup]="loginFormGroup">
    <!-- Email -->
    <div class="mb-4">
      <label for="email" class="block text-gray-700 font-medium"
        >Email Address</label
      >
      <input
        type="email"
        id="email"
        class="primaryInputForm"
        placeholder="youremail@example.com"
        formControlName="email"
        (blur)="invalidEmail('email')"
      />
      <div *ngIf="loginErrors['email'].length">
        <p *ngFor="let err of loginErrors['email']" class="text-red-500 text-sm">
          {{ err }}
        </p>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-4">
      <label for="password" class="block text-gray-700 font-medium"
        >Password</label
      >
      <input
        type="password"
        id="password"
        class="primaryInputForm"
        placeholder="******"
        formControlName="password"
        (blur)="invalidPassword('password')"
      />
      <div *ngIf="loginErrors['password'].length">
        <p *ngFor="let err of loginErrors['password']" class="text-red-500 text-sm">
          {{ err }}
        </p>
      </div>
    </div>

    <!-- Forgot Password Link -->
    <div class="text-right mb-4">
      <a href="#" class="text-sm primaryText hover:primaryText"
        >Forgot password?</a
      >
    </div>

    <!-- Login Button -->
    <div class="mt-6">
      <button [disabled]="loginFormGroup.invalid"
        type="submit"
        class="w-full primaryBg text-white px-4 py-2 rounded-lg shadow hover:primaryBg transition"
      >
        Login
      </button>
    </div>

    <!-- Register Link -->
    <div class="text-center mt-4">
      <p class="text-gray-600">
        Don't have an account?
        <button
          class="primaryText hover:primaryText"
          (click)="goToSignUpPage()"
        >
          Sign up
        </button>
      </p>
    </div>
  </form>
</div>
