    <div class="bg-white rounded-lg shadow-md p-6 border border-gray-200">
                <div class="flex items-center space-x-4">
                    <div class="w-16 h-16 rounded-full border-4 border-pink-500 overflow-hidden">
                        <img src="assets/blank_prod.jpg" alt="User Image">
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold text-gray-800">{{review.username}}</h2>
                        <div class="flex text-yellow-500">
                            ★★★☆☆
                        </div>
                    </div>
                </div>
                <p class="text-gray-600 mt-4">{{review.reviewDesc}}</p>
</div>
